---
import BaseLayout from '../layouts/BaseLayout.astro';
import Wrapper from '../components/Wrapper.astro';

let title = 'Astro Sanity Minimal Starter';
let description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://example.com/';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
  <Wrapper>
  <!-- default theme -->
  <div class="p-10 bg-base-100 text-base-content">
    <button class="btn">button</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>

  <!-- garden theme -->
  <div class="p-10 bg-base-100 text-base-content" data-theme=garden>
    <button class="btn">button</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>

  <!-- forest theme -->
  <div class="p-10 bg-base-100 text-base-content" data-theme=forest>
    <button class="btn">button</button>
    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-accent">button</button>
  </div>
  <a href="/blog">Blog</a>
  </Wrapper>
</BaseLayout>