<aside class="pb-8 w-full">
  <div class="card text-center mx-auto image-full w-full">
    <div class="card-body">

      <div class="_form_11"></div><script src="https://urosystem.activehosted.com/f/embed.php?id=11" type="text/javascript" charset="utf-8"></script>

      <a href="https://www.urosystem.com/en/privacy-policy" rel="external" target="_blank">Privacy Policy</a>
    </div>

  </div>
</aside>

<!--style>
  fieldset {
    @apply flex flex-wrap gap-4;
  }
</style-->
